<!DOCTYPE html>
<html lang="en">

<head>
    <title>달:로그</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/view.css">
    <link href="https://spoqa.github.io/spoqa-han-sans/" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet" />
    <script src="/diary/view.js"></script>
    
</head>

<body>
    <script>
        console.dir('<%=profile%>')
        let profile = "<%=JSON.stringify(profile)%>";
        if(profile){
        profile = profile.replaceAll('&#34;','\"');
        profile = JSON.parse(profile);
        console.dir(profile);
        }
        
        let diary ="<%=JSON.stringify(diary)%>";
        if(diary){
        diary = diary.replaceAll('&#34;','\"');
        diary = JSON.parse(diary);
        console.dir(diary);
        }
        let diary_content=diary.diary_content;
        diary_content = diary_content.replaceAll('&lt;','<');
        diary_content = diary_content.replaceAll('&gt;','>');
        console.dir(diary_content);

    </script>
    <header class="header">
        <div class="wrapper">
            <img src="/media/logo4.jpg" class="logo" onclick="location.href='/'" style="cursor: pointer" />
            <form action="/" method="post" id="title_form">
                <input
                    id="titleInput"
                    name="titleInput"
                    class="dalog-title"
                    type="text"
                    value="여기를 눌러 타이틀을 수정하세요!"
                    onfocus="document.getElementById('title-submit').style.display='block';document.getElementById('title-submit').style.opacity=1;"
                    onblur="document.getElementById('title-submit').style.opacity=0;"
                />
                <input type="image" id="title-submit" class="title-submit" src="/media/title-edit.png" value="" />
            </form>

            <nav>
                <ul class="main-menu">
                    <li>
                        <a href="/diary/write" target="_self" style="text-decoration: none; cursor: pointer">
                            <img src="/media/write.png" class="write" style="cursor: pointer;" alt="글쓰기" />
                        </a>
                    </li>
                    <li>
                        <a href="/diary/board_grid" target="_self" style="text-decoration: none; cursor: pointer">
                            <img src="/media/board.png" class="board" style="cursor: pointer;" alt="게시판" />
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="/media/profile.png" style="cursor: pointer;" /></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/user/modify" target="_self"
                                    style="text-decoration: none; cursor: pointer">정보수정</a>
                            </li>
                            <li>
                                <a href="/user/logout" target="_self"
                                    style="text-decoration: none; cursor: pointer">로그아웃</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div id="container">
        <div id="wrap">
            <div id="layout_head">
                <div id="layout_left">
                    <div id="date">
                        <p></p>
                    </div>
                    <div id="title">
                        <p></p>
                    </div>
                </div>
                <div id="weather_box">
                    <div id="temperature">
                        <div id="temper_night">
                            <p></p>
                        </div>
                        <div id="temper_day">
                            <p></p>
                        </div>
                    </div>
                    <div id="weather">
                        <img />
                    </div>
                </div>
            </div>
            <div id="photo">
                <img alt="오늘의 사진" title="오늘의 사진">
            </div>
            <div id="content">
                <p></p>
            </div>
        </div>
        <div id="edit_delete">
            <div id="edit">
                <button id="edit_btn" onclick="location.href=`/diary/edit/<%=diary.diary_id%>`">수정</button>
            </div>
            <form id="delete" method="POST" action="/diary/delete" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
                <input type="hidden" value="<%=diary.diary_id%>" name="diary_id">
                <button id="delete_btn" onclick="onDelete()">삭제</button>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById("date").childNodes[1].innerText =
    diary.diary_date;
    document.getElementById("title").childNodes[1].innerText =
    diary.diary_title;
    if(diary.weather){
        document.getElementById("temper_night").childNodes[1].innerText =
        diary.temp_low;
        document.getElementById("temper_day").childNodes[1].innerText =
        diary.temp_high;
        document.getElementById(
        "weather"
        ).childNodes[1].src = `/media/icon_${diary.weather}.png`;
        document.getElementById("weather").childNodes[1].title =
        diary.weather;
    } else {
        document.getElementById('weather_box').style= "display:none";
    }
    if (diary.image_dir) {
        document.getElementById("photo").childNodes[1].src = `/${diary.image_dir}`;
    } else {
    document.getElementById("photo").style = "display : none";
    }

    document.getElementById("content").childNodes[1].innerHTML =
    diary_content;

</script>
</html>